html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nav {
  box-shadow: 0px 0px 26px 1px rgba(130, 130, 130, 0.44);
  -webkit-box-shadow: 0px 0px 26px 1px rgba(130, 130, 130, 0.44);
  -moz-box-shadow: 0px 0px 26px 1px rgba(130, 130, 130, 0.44);
}

/* ScrollBar */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #008a7e #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #008a7e;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* IMAGES PROJECTS */

#imgChat {
  background-image: url("../public/projects/chatapp.jpg");
  width: 100%;
  height: 400px;
}

#imgNova {
  background-image: url("../public/projects/nova.jpg");
  width: 100%;
  height: 400px;
}

#imgMovies {
  background-image: url("../public/projects/moviestime.jpg");
  width: 100%;
  height: 400px;
}

#imgWeather {
  background-image: url("../public/projects/weatherapp.jpg");
  width: 100%;
  height: 400px;
}

@media (max-width: 600px) {
  #imgChat {
    background-image: url("../public/projects/chatapp.jpg");
    width: 100%;
    height: 300px;
  }

  #imgNova {
    background-image: url("../public/projects/nova.jpg");
    width: 100%;
    height: 300px;
  }

  #imgMovies {
    background-image: url("../public/projects/moviestime.jpg");
    width: 100%;
    height: 300px;
  }

  #imgWeather {
    background-image: url("../public/projects/weatherapp.jpg");
    width: 100%;
    height: 300px;
  }
}
